{% extends 'partials/base.html.twig' %}

{% block content %}
<div id="error">
	<article>
	<h1>Error {{ page.header.http_response_code }} :(</h1>
		<p><a href="{{ base_url_absolute }}">Lets start over</a></p>
	</article>
</div>
{% endblock %}
